.fun-facts-image{
    background-image: url('../images/fun-facts/fun-facts-bg-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.counter-circle{
    width: 140px;
    height: 140px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border: 4px solid #fff;
}

@media (min-width: 576px){
    #fun-circles {
        width: 100%;
        max-width: 1024px;
        flex-wrap: wrap;
        flex-direction: row !important;
        justify-content: space-around !important;
    }
}